<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../libs/css/styles3.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v1.0.0/css/unicons.css">

    <title>Locations de vélos</title>





</head>
<body>
<!---------------------------navbar---------------------------->


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/testphp/index.html">
                <img src="../libs/img/logo.png" height="69" width="105"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mt-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/testphp/index.html">ACCUEIL

                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            LOCATIONS
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                            <a href="/testphp/templates/locations.html" class="dropdown-item" id="modal" data-dismiss="dropdown"  data-target="#exampleModalCenter">Vélo classique</a>


                            <div class="dropdown-divider"></div>
                            <a href="/testphp/templates/locations2.html" class="dropdown-item" data-dismiss="dropdown">vélo électrique</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/testphp/templates/contact.html">CONTACT</a>
                    </li>
                </ul>
            </div>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            connexion/inscription
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" id="modal1" data-dismiss="dropdown" data-toggle="modal" data-target="#exampleModalCenter">Inscription</a>


                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="modal2" data-dismiss="dropdown" data-toggle="modal" data-target="#exampleModalCenter2">j'ai déja un compte</a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


</header>
<!---------------------------end-navbar---------------------------->
<!---------------------------formulaire---------------------------->

<div class="container p-0">
    <div class="row mt-5 ">
        <div class="col col-md-12">
            <div class="card">
                <div class="card-body mx-auto text-center ">

                    <div class="container text-center mt-5">
                        <h3>BESOIN D’INFORMATIONS ?</h3>
                        <p class="mt-5"></p>
                    </div>
                    <form id="contact-form" method="post" action="" role="form">

                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="form_name">Nom *</label>
                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="" required="required" data-error="Firstname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_lastname">Prénom *</label>
                                        <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="" required="required" data-error="Lastname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_email">Email *</label>
                                        <input id="form_email" type="email" name="email" class="form-control" placeholder="" required="required" data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_phone">tél:</label>
                                        <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_message">Message *</label>
                                        <textarea id="form_message" name="message" class="form-control" placeholder="" rows="4" required data-error="Please,leave us a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-5">
                                    <input type="submit" class="btn btn-send bg-success" value="Envoyer">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!---------------------------end-formulaire---------------------------->








<!---------------------------- Footer ------------------------------>
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ou nous trouver</h5>
                <p>Adresse: 1 rue solférino , Lille 59000.<br>
                    tél: 0678958086<br>

                </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto text-center">

                <img src="../libs/img/logo.png" height="69" width="105"/>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>



            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto text-center " id="noussuivre">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">suivez-nous</h5>

                <a href=""><i class='uil uil-facebook' id="fcbk"></i></a>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->


    <hr>



    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="#">On-s'en-fou.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-------------------------- end-Footer----------------------------- -->


<!--------------------------- Modal ----------------------------------->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputtext2">Nom *</label>
                        <input placeholder="Goya" type="text" class="form-control" id="exampleInputtext2" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext3">Prénom *</label>
                        <input placeholder="Chantal" type="text" class="form-control" id="exampleInputtext3" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Adresse Email *</label>
                        <input placeholder="Dupont.Dupont@gmail.com" type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputadresse">Adresse *</label>
                        <input type="text" class="form-control" id="exampleInputadresse" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputVille">Ville *</label>
                        <input type="text" class="form-control" id="exampleInputVille" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Mot de passe *</label>
                        <input type="password" class="form-control" id="exampleInputPassword2">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck2">J'accepte les conditions générales</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck3">
                        <label class="form-check-label" for="exampleCheck3">J'accepte les conditions d'utilisations</label>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-secondary">Valider</button>
            </div>
        </div>
    </div>
</div>


<!--------------------------- Modal-2 ----------------------------------->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle1">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label for="exampleInputEmail2">Adresse Email *</label>
                        <input placeholder="Dupont.dupont@gmail.com" type="email" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Mot de passe *</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-dark">Connexion</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>