<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../libs/css/styles4.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v1.0.0/css/unicons.css">
    <title>Locations de vélos</title>



</head>
<body>
<div classe="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:63342/testphp/index.html?_ijt=90p76l7gt3p79hbkvd3pp0r7h3">
                <img src="../libs/img/logo.png" height="69" width="105"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mt-4">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:63342/testphp/index.html?_ijt=90p76l7gt3p79hbkvd3pp0r7h3">ACCUEIL
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            LOCATIONS
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                            <a href="http://localhost:63342/testphp/templates/locations.html?_ijt=otu6flf34qt79b0bsrhitpf0i" class="dropdown-item" id="modal" data-dismiss="dropdown"  data-target="#exampleModalCenter">Vélo classique</a>


                            <div class="dropdown-divider"></div>
                            <a href="http://localhost:63342/testphp/templates/locations2.html?_ijt=coas9585ad8vjfhdcds4jo6dr7" class="dropdown-item" data-dismiss="dropdown">vélo électrique</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:63342/testphp/templates/contact.html?_ijt=ova6iafaka6jshe7bl6se703ug">CONTACT</a>
                    </li>
                </ul>
            </div>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            connexion/inscription
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" id="modal" data-dismiss="dropdown" data-toggle="modal" data-target="#exampleModalCenter">Inscription</a>


                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="modal" data-dismiss="dropdown" data-toggle="modal" data-target="#exampleModalCenter2">j'ai déja un compte</a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</header>
<!---------------------------end-navbar---------------------------->


<div class="container mt-5 mr-0">
    <div class="row mx-5">
        <div class="col-lg">
            <div class="card" style="width: 40rem;">
                <img src="../libs/img/veloelectrique.jpg"  class="card-img-top" alt="...">
                <div class="card-body ml-5">
                    <h5 class="card-title">Description:</h5>
                    <p>vélo électrique</p>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Périodes</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect1">
                        <option selected>Choisir</option>
                        <option value="1">Heures</option>
                        <option value="2">Jours</option>
                        <option value="3">Semaine</option>
                        <option value="3">Mois</option>

                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Temps</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect2">
                        <option selected>choisir</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Lieux</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect3">
                        <option selected>choisir</option>
                        <option value="1">4 Cantons</option>
                        <option value="2">Lille-sud</option>
                        <option value="3">Lille-five</option>
                        <option value="3">Wazemme</option>
                        <option value="3">Vieux-Lille</option>


                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Quantités</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect02">
                        <option selected>choisir</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <div class="container">
                        <div class="row">
                            <a href="#" class="btn btn-dark mx-auto mt-4">Valider la location</a>

                        </div>
                    </div>
                    <iframe class="mt-4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40492.554843972!2d3.0121410656906003!3d50.63111669609767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d579b3256e11%3A0x40af13e81646360!2sLille!5e0!3m2!1sfr!2sfr!4v1575551230772!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-------------------------------------------------------------------->




<!-------------------------------------------------------------------->







<!-- Footer Links -->
<footer>
<div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ou nous trouver</h5>
            <p>Adresse: 1 rue solférino , Lille 59000.<br>
                tél: 0678958086<br>

            </p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto text-center">


            <img src="../libs/img/logo.png" height="69" width="105"/>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>



        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto text-center " id="noussuivre">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">suivez-nous</h5>

            <a href=""><i class='uil uil-facebook'></i></a>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</div>
<!-- Footer Links -->


<hr>



<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a> On-s'en-fou.com</a>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->



<!--------------------------- Modal ----------------------------------->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputtext2">Nom *</label>
                        <input placeholder="Dupont" type="text" class="form-control" id="exampleInputtext2" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputtext3">Prénom *</label>
                        <input placeholder="Dupont" type="text" class="form-control" id="exampleInputtext3" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Adresse Email *</label>
                        <input placeholder="Dupont.dupont@gmail.com" type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputadresse">Adresse *</label>
                        <input type="text" class="form-control" id="exampleInputadresse" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputVille">Ville *</label>
                        <input type="text" class="form-control" id="exampleInputVille" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Mot de passe *</label>
                        <input type="password" class="form-control" id="exampleInputPassword2">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck1">J'accepte les conditions générales</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck3">
                        <label class="form-check-label" for="exampleCheck1">J'accepte les conditions d'utilisations</label>
                    </div>
                </form>                    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-secondary">Valider</button>
            </div>
        </div>
    </div>
</div>




<!--------------------------- Modal-2 ----------------------------------->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label for="exampleInputEmail2">Adresse Email *</label>
                        <input placeholder="Dupont.dupont@gmail.com" type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Mot de passe *</label>
                        <input type="password" class="form-control" id="exampleInputPassword2">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-dark">Connexion</button>
            </div>
        </div>
    </div>


</body>
</html>